/data/*
!/data/.info
/irsta/*
!/irsta/.info
/rsta/*
!/rsta/.info
/misc/*
!/misc/.info
/out/*
!/out/.info
!/rsta/.info
/layouts/
aerofoil.dat
signal.dat
*.exe
*.swp
*.mod
inflowsignal.dat
tecplot*
walltime*
*batch*
display
*.lay
